.header {
	padding: 16px 0;

	& .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		width: 95px;
		transition: all .35s;
		position: relative;
		z-index: 3;

		&:hover {
			transform: scale(1.1)
		}
	}

	&__toggle {
		display: inline-block;
		width: 20px;
		height: 21px;
		position: relative;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		z-index: 10;
		cursor: pointer;

		& span {
			display: block;
			position: absolute;
			height: 1px;
			width: 100%;
			background: rgba(40, 40, 40, 0.57);
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;
		}

		& span:nth-child(1) {
			top: 6px;
			transform-origin: left center;
		}

		& span:nth-child(2) {
			top: 12px;
			transform-origin: left center;
		}

		&.open span:nth-child(1) {
			transform: rotate(45deg);
			top: 3px;
			left: 3px;
		}

		&.open span:nth-child(2) {
			transform: rotate(-45deg);
			top: 17px;
			left: 3px;
		}
	}

	&__menu {
		width: 100%;
		height: 0;
		overflow: auto;
		top: 0;
		left: 0;
		right: 0;
		transition: all .4s;
		background: rgba(196, 196, 196, 0.9);
		z-index: 2;
		visibility: hidden;
		transition: visibility .35s, height .35s;
		position: fixed;

		&--opened {
			visibility: visible;
			height: 100%;
		}
	}

	&__nav-list {
		padding: 53px 20px;
		text-align: right;

		& li {
			& a {
				line-height: 22px;
			}
		}
	}
}

@media (min-width: 414px) {
	.header {
		padding: 33px 0;

		&__nav-list {
			padding: 87px 24px;
		}
	}
}

@media (min-width: $tablet) {
	.header {
		padding: 27px 0;

		& .container {
			align-items: flex-start;
		}

		&__logo {
			width: 102px;
		}

		&__toggle {
			display: none;
		}

		&__menu {
			visibility: visible;
			position: static;
			width: auto;
			height: auto;
			background: transparent;
			z-index: 3;
		}

		&__nav-list {
			padding: 0;
		}
	}
}
