@font-face {
	font-family: 'TT Travels';
	src: local('TT Travels'), local('TT Travels-Light'),
		url('../fonts/TTTravels-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Schnyder Cond XL Demi';
	src: local('Schnyder Cond XL Demi'), local('Schnyder Cond XL Demi-Light'),
		url('../fonts/Schnyder_X_Cond_L_Demi.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
